<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="3.0.1" targetFramework="net452" />
  <package id="NUnit.Console" version="3.0.1" targetFramework="net452" />
  <package id="NUnit.Runners" version="3.0.1" targetFramework="net452" />
  <package id="ServiceStack" version="4.0.52" targetFramework="net452" />
  <package id="ServiceStack.Client" version="4.0.52" targetFramework="net452" />
  <package id="ServiceStack.Common" version="4.0.52" targetFramework="net452" />
  <package id="ServiceStack.Contrib.Testing" version="0.0.0.63" targetFramework="net452" />
  <package id="ServiceStack.Interfaces" version="4.0.52" targetFramework="net452" />
  <package id="ServiceStack.Text" version="4.0.52" targetFramework="net452" />
</packages>